 * {
     margin: 0;
     font-family: Arial, Helvetica, sans-serif;
     border: border-box;
 }

 body {
     background-color: #0f0f0f;
     color: white;
 }

 .navbar {
     height: 70px;
     width: 100%;
     position: fixed;
     top: 0px;
     background-color: black;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     z-index: 1000;
 }

 .logo {
     font-size: 50px;
     width: 75%;
 }

 .logo a {
     color: white;
     text-decoration: none;
 }

 .opit {
     height: 40px;
     width: 500px;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     padding: 5px;
     gap: 9px;
 }

 .opit a {
     font-size: 18px;
     color: white;
     text-decoration-line: none;
     transition: color 0.3s;
 }

 .opit a:hover,
 .opit a.active {
     color: #4CAF50;
 }



 .login_box {
     height: 500px;
     width: 450px;
     position: relative;
     top: 116px;
     left: 520px;
     background-color: #1a1a1a;
     border: 4px solid #333;
     border-radius: 9px;
     color: white;
 }



 .input_username {
     height: 30px;
     width: 100px;
     position: relative;
     top: 90px;
     left: 90px;
     font-size: 20px;
 }

 .input_username input {
     height: 30px;
     width: 250px;
     border: none;
     background-color: #2a2a2a;
     color: white;
     padding: 5px;
     border-radius: 4px;
 }



 .input_Email {
     height: 30px;
     width: 100px;
     position: relative;
     top: 150px;
     left: 90px;
     font-size: 20px;
 }

 .input_Email input {
     height: 30px;
     width: 250px;
     border: none;
     background-color: #2a2a2a;
     color: white;
     padding: 5px;
     border-radius: 4px;
 }


 .input_create_password {
     height: 30px;
     width: 200px;
     position: relative;
     top: 196px;
     left: 90px;
     font-size: 20px;
 }

 .input_create_password input {
     height: 30px;
     width: 250px;
     border: none;
     background-color: #2a2a2a;
     color: white;
     padding: 5px;
     border-radius: 4px;
 }

 .input_re-enter_password {
     height: 30px;
     width: 200px;
     position: relative;
     top: 250px;
     left: 90px;
     font-size: 20px;
 }

 .input_re-enter_password input {
     height: 30px;
     width: 250px;
     border: none;
     background-color: #2a2a2a;
     color: white;
     padding: 5px;
     border-radius: 4px;
 }




 .register_button {
     position: relative;
     top: 299px;
     left: 300px;
     height: 30px;
     width: 92px;
 }

 .register_button,
 button {
     height: 30px;
     width: 92px;
     color: white;
     border-radius: 4px;
     border: none;
     background-color: #4CAF50;
     cursor: pointer;
     transition: background-color 0.3s;
 }

 .register_button,
 button:hover {
     background-color: #45a049;
 }
